ERP_LaTaime/ERP_LaTaime-ejb/src/wsdl/localhost_8080/ClientWebServices/ClientWebServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.miagebank.toulouse.miage.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.miagebank.toulouse.miage.fr/" name="ClientWebServices">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.miagebank.toulouse.miage.fr/" schemaLocation="http://localhost:8080/ClientWebServices/ClientWebServices?xsd=1"/>
</xsd:schema>
</types>
<message name="virer">
<part name="parameters" element="tns:virer"/>
</message>
<message name="virerResponse">
<part name="parameters" element="tns:virerResponse"/>
</message>
<message name="CompteInconnuException">
<part name="fault" element="tns:CompteInconnuException"/>
</message>
<message name="MontantInvalidException">
<part name="fault" element="tns:MontantInvalidException"/>
</message>
<message name="SoldeInsufisantException">
<part name="fault" element="tns:SoldeInsufisantException"/>
</message>
<message name="CompteClotureException">
<part name="fault" element="tns:CompteClotureException"/>
</message>
<message name="consulter">
<part name="parameters" element="tns:consulter"/>
</message>
<message name="consulterResponse">
<part name="parameters" element="tns:consulterResponse"/>
</message>
<portType name="ClientWebServices">
<operation name="virer">
<input wsam:Action="http://webservices.miagebank.toulouse.miage.fr/ClientWebServices/virerRequest" message="tns:virer"/>
<output wsam:Action="http://webservices.miagebank.toulouse.miage.fr/ClientWebServices/virerResponse" message="tns:virerResponse"/>
<fault message="tns:CompteInconnuException" name="CompteInconnuException" wsam:Action="http://webservices.miagebank.toulouse.miage.fr/ClientWebServices/virer/Fault/CompteInconnuException"/>
<fault message="tns:MontantInvalidException" name="MontantInvalidException" wsam:Action="http://webservices.miagebank.toulouse.miage.fr/ClientWebServices/virer/Fault/MontantInvalidException"/>
<fault message="tns:SoldeInsufisantException" name="SoldeInsufisantException" wsam:Action="http://webservices.miagebank.toulouse.miage.fr/ClientWebServices/virer/Fault/SoldeInsufisantException"/>
<fault message="tns:CompteClotureException" name="CompteClotureException" wsam:Action="http://webservices.miagebank.toulouse.miage.fr/ClientWebServices/virer/Fault/CompteClotureException"/>
</operation>
<operation name="consulter">
<input wsam:Action="http://webservices.miagebank.toulouse.miage.fr/ClientWebServices/consulterRequest" message="tns:consulter"/>
<output wsam:Action="http://webservices.miagebank.toulouse.miage.fr/ClientWebServices/consulterResponse" message="tns:consulterResponse"/>
<fault message="tns:CompteInconnuException" name="CompteInconnuException" wsam:Action="http://webservices.miagebank.toulouse.miage.fr/ClientWebServices/consulter/Fault/CompteInconnuException"/>
<fault message="tns:CompteClotureException" name="CompteClotureException" wsam:Action="http://webservices.miagebank.toulouse.miage.fr/ClientWebServices/consulter/Fault/CompteClotureException"/>
</operation>
</portType>
<binding name="ClientWebServicesPortBinding" type="tns:ClientWebServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="virer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CompteInconnuException">
<soap:fault name="CompteInconnuException" use="literal"/>
</fault>
<fault name="MontantInvalidException">
<soap:fault name="MontantInvalidException" use="literal"/>
</fault>
<fault name="SoldeInsufisantException">
<soap:fault name="SoldeInsufisantException" use="literal"/>
</fault>
<fault name="CompteClotureException">
<soap:fault name="CompteClotureException" use="literal"/>
</fault>
</operation>
<operation name="consulter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CompteInconnuException">
<soap:fault name="CompteInconnuException" use="literal"/>
</fault>
<fault name="CompteClotureException">
<soap:fault name="CompteClotureException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ClientWebServices">
<port name="ClientWebServicesPort" binding="tns:ClientWebServicesPortBinding">
<soap:address location="http://localhost:8080/ClientWebServices/ClientWebServices"/>
</port>
</service>
</definitions>